fastapi
uvicorn[standard]
langchain
langchain-openai
langchain-community
langchain-text-splitters
fastembed
faiss-cpu
pymupdf
pymongo
dnspython
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
openai
pydantic
